body {
	width: 100%;
	height: 100%;
	
	font-family: 'Euphemia', 'Slabo 27px', Helvetica Neue, Helvetica, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	background: black;
	overflow: hidden;
}

#wrapper {
	top: 50%;
	left: 50%;	
	position: fixed;
}

#canvas {	
	image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;          
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;            
    image-rendering: optimize-contrast;         
    -ms-interpolation-mode: nearest-neighbor;   
	margin-top: 0;
	margin-left: 0;
}

#chat_wrapper {	
	position: absolute;
	z-index: 101;
	
	padding: 0;
	margin: 0;
	
	width: 100%;
	background: white;
	
	display: none;
	height: 100%;
}

#chat_online_users {
	width: 20%;
	//background: red;
	background: #e0e0e0;
	height: 100%;
	float: left;

	margin: 0;
	padding: 0;

	font-size: 12px;
}

#chat_online_users ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#chat_online_users ul li {
	width: 100%;
	border-bottom: 1px solid #444444;
	border-top: 1px solid #f0f0f0;
	margin: 0;
	padding-left: 10px;
}

#chat_box_wrapper {
	width: 80%;
	background: #e0e0e0;
	height: 100%;
	float: right;
	position: relative;
}

#chat_box_content {
	top: 0;
	bottom: 32px;
	left: 0;
	right: 0;
	overflow-y: hidden;

	//background: blue;
	position: absolute;
}

#chat_textbox {
	background: green;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	height:32px;
}

#chat_textbox input {
	width: 100%;	
	font-size: 16px;
	padding: 5px;
}
	
#chat_textbox span {
    display: block;
    overflow: hidden;
    padding: 0 5px 0 0;	
}

#chat_box {
	padding: 10px;
}

.chat_line {
	word-wrap: break-word;
	overflow-wrap: break-word;

	margin: 5px;
	padding: 0;

	font-size: 12px;
}

.chat_line p {
	font-size: 12px;
	display: inline;
}

.chat_line span {
	font-size: 6px;
	color: #bbbbbb;
	display: inline;
}

#overlay {
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: black;	
	opacity: 1;
	z-index: 100;
}

@font-face {
    font-family: 'Euphemia'; 
    src: url('../assets/graphics/euphemia.ttf');
}