@keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-webkit-keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-moz-keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-ms-keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-o-keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

/* line 9, ../sass/vex-theme-wireframe.sass */
.vex.vex-theme-wireframe {
  padding-top: 160px;
  padding-bottom: 160px;
}
/* line 13, ../sass/vex-theme-wireframe.sass */
.vex.vex-theme-wireframe .vex-overlay {
  background: rgba(0, 0, 0, 0.4);
}
/* line 16, ../sass/vex-theme-wireframe.sass */
.vex.vex-theme-wireframe .vex-content {
  font-family: 'Euphemia', 'Slabo 27px', Helvetica Neue, Helvetica, Verdana, sans-serif;
  background: white;
  color: black;
  border: 2px solid black;
  padding: 2em;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 400px;
  font-size: 1.1em;
  line-height: 1.5em;
}
/* line 29, ../sass/vex-theme-wireframe.sass */
.vex.vex-theme-wireframe .vex-content h1, .vex.vex-theme-wireframe .vex-content h2, .vex.vex-theme-wireframe .vex-content h3, .vex.vex-theme-wireframe .vex-content h4, .vex.vex-theme-wireframe .vex-content h5, .vex.vex-theme-wireframe .vex-content h6, .vex.vex-theme-wireframe .vex-content p, .vex.vex-theme-wireframe .vex-content ul, .vex.vex-theme-wireframe .vex-content li {
  color: inherit;
}
/* line 32, ../sass/vex-theme-wireframe.sass */
.vex.vex-theme-wireframe .vex-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
/* line 38, ../sass/vex-theme-wireframe.sass */
.vex.vex-theme-wireframe .vex-close:before {
  position: absolute;
  content: "\00D7";
  font-size: 40px;
  font-weight: normal;
  line-height: 80px;
  height: 80px;
  width: 80px;
  text-align: center;
  top: 3px;
  right: 3px;
  color: black;
}
/* line 51, ../sass/vex-theme-wireframe.sass */
.vex.vex-theme-wireframe .vex-close:hover:before, .vex.vex-theme-wireframe .vex-close:active:before {
  color: black;
}
/* line 56, ../sass/vex-theme-wireframe.sass */
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-message {
  margin-bottom: 0.5em;
}
/* line 59, ../sass/vex-theme-wireframe.sass */
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input {
  margin-bottom: 1em;
}
/* line 62, ../sass/vex-theme-wireframe.sass */
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input textarea, .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="date"], .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="datetime"], .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="datetime-local"], .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="email"], .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="month"], .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="number"], .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="password"], .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="search"], .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="tel"], .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="text"], .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="time"], .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="url"], .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="week"] {
  background: white;
  width: 100%;
  padding: 0.25em 0.67em;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  min-height: 2.5em;
  margin: 0 0 0.25em;
  border: 2px solid black;
}
/* line 73, ../sass/vex-theme-wireframe.sass */
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input textarea:focus, .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="date"]:focus, .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="datetime"]:focus, .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="datetime-local"]:focus, .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="email"]:focus, .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="month"]:focus, .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="number"]:focus, .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="password"]:focus, .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="search"]:focus, .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="tel"]:focus, .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="text"]:focus, .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="time"]:focus, .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="url"]:focus, .vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="week"]:focus {
  border-style: dashed;
  outline: none;
}
/* line 77, ../sass/vex-theme-wireframe.sass */
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-buttons {
  *zoom: 1;
}
/* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-buttons:after {
  content: "";
  display: table;
  clear: both;
}
/* line 80, ../sass/vex-theme-wireframe.sass */
.vex.vex-theme-wireframe .vex-dialog-button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0;
  float: right;
  margin: 0 0 0 0.5em;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  line-height: 1em;
  padding: 0.75em 2em;
}
/* line 92, ../sass/vex-theme-wireframe.sass */
.vex.vex-theme-wireframe .vex-dialog-button.vex-last {
  margin-left: 0;
}
/* line 95, ../sass/vex-theme-wireframe.sass */
.vex.vex-theme-wireframe .vex-dialog-button:focus {
  animation: vex-pulse 1.1s infinite;
  -webkit-animation: vex-pulse 1.1s infinite;
  -moz-animation: vex-pulse 1.1s infinite;
  -ms-animation: vex-pulse 1.1s infinite;
  -o-animation: vex-pulse 1.1s infinite;
  -webkit-backface-visibility: hidden;
  outline: none;
}
@media (max-width: 568px) {
  /* line 95, ../sass/vex-theme-wireframe.sass */
  .vex.vex-theme-wireframe .vex-dialog-button:focus {
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    -webkit-backface-visibility: hidden;
  }
}
/* line 104, ../sass/vex-theme-wireframe.sass */
.vex.vex-theme-wireframe .vex-dialog-button.vex-dialog-button-primary {
  background: black;
  color: white;
  border: 2px solid transparent;
}
/* line 109, ../sass/vex-theme-wireframe.sass */
.vex.vex-theme-wireframe .vex-dialog-button.vex-dialog-button-secondary {
  background: white;
  color: black;
  border: 2px solid black;
}

/* line 114, ../sass/vex-theme-wireframe.sass */
.vex-loading-spinner.vex-theme-wireframe {
  height: 2.5em;
  width: 2.5em;
}
